<!DOCTYPE html>
<html lang="en">
  <head>
		%include('_template/scripts')
	  </head>
	  <body>
		%include('_template/navbar')
		<!--   This is where your HTML code STARTS -->
		<div class="container">
    <h1>Home</h1>
	
	<h2>Welcome to FIN PLAN</h2><div>
	<blockquote class="blockquote col-md-6">
  <p class="mb-0  "><i>"An application for financial advisors to collect & maintain client records, engagements, interactions and policies remotely and securely on their internet enabled device"</i></p>
<footer>The Finplan team</footer></blockquote>
<img src="img/{{picture}}" class="img-circle img-responsive" width=500px height="auto">
</div>
	</div>
		<!--   This is where your HTML code ENDS -->
</body>
</html>