<!DOCTYPE html>
<html lang="en">
  <head>
		%include('_template/scripts')
	  </head>
<body>
    <script>

        $(document).ready(function(){
			
						var info_modal = $("#myModal");
						$(".modal-title").text("Insert completed");
						//$(".modal-body").html("");
						info_modal.modal('toggle');
			
			setTimeout(function(){
			
			window.location.href = "/home";
			
			},5000);
        });

    </script>
    
    
    
    <div class="container">
        
        <div class="form-inline">
            
           
        </div>
        <!-- MAIN FORM -->

        <!-- MAIN FORM END -->

        <!-- TEMPLATE START -->
   
        <!-- TEMPLATE END -->
    </div>
    
     <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title"></h1>
        </div>
        <div class="modal-body"><center>
          <p><h3>Redirecting...</h3><br><i class="fa fa-circle-o-notch fa-spin" style="font-size:48px;color:blue"></i><br></p></center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">ok</button>
        </div>
      </div>
      
    </div>
  </div>
    
</body>
</html>